* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Inconsolata Nerd Font Mono, JetBrains Mono, Noto Color Emoji, Symbols Nerd Font Mono, FontAwesome;
    font-size: 16px;
}

#waybar {
    border-radius: 20px;

}

window#waybar {
    background: #000000;
    /*background: transparent;*/
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window {
    background: #222222;
    /*background: transparent;*/
    color: #ffffff;
}
window#waybar.hidden {
    opacity: 0.2;
}

button {
    color: #ffffff;
    padding: 0 5px;
    margin: 0 2px;
    box-shadow: inset 0 -3px transparent;
}

#workspaces {
    background: #333333;
}

#workspaces button {
}


#workspaces button.active {
  background-color: #5555aa;

}

#workspaces button.focused {
  background-color: #333388;
}

#workspaces button.urgent {
  background-color: #883333;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    color: #ffffff;
    padding: 0 5px;
    margin: 0 5px;
}


#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    border-top: 2px solid #64727D;
}

#battery {
    border-top: 2px solid #ffffff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    border-top: 2px solid #26A65B;
}

#battery.discharging {
    border-top: 2px solid #f0932b;
}

@keyframes blink {
    to {
        border-top: 2px solid #ffffff;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    border-top: 2px solid #f53c3c;
}

#power-profiles-daemon.balanced {
    border-top: 2px solid #2980b9;
}

#power-profiles-daemon.power-saver {
    border-top: 2px solid #2ecc71;
}

label:focus {
    border-top: 2px solid #000000;
}

#cpu {
    border-top: 2px solid #2ecc71;
}

#memory {
    border-top: 2px solid #9b59b6;
}

#disk {
    border-top: 2px solid #964B00;
}

#backlight {
    border-top: 2px solid #90b1b1;
}

#bluetooth {
    border-top: 2px solid #2c2cff;
}

#network {
    border-top: 2px solid #2980b9;
}

#network.disconnected {
    border-top: 2px solid #f53c3c;
}


#wireplumber {
    border-top: 2px solid #64727D;
}

#wireplumber.muted {
    border-top: 2px solid #323a37;
}

#custom-media {
    border-top: 2px solid #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    border-top: 2px solid #66cc99;
}

#custom-media.custom-vlc {
    border-top: 2px solid #ffa000;
}

#temperature {
    border-top: 2px solid #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    border-top: 2px solid #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    border-top: 2px solid #eb4d4b;
}

#idle_inhibitor {
    border-top: 2px solid #2d3436;
}

#idle_inhibitor.activated {
    border-top: 2px solid #ecf0f1;
    color: #2d3436;
}

#mpd {
    border-top: 2px solid #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    border-top: 2px solid #f53c3c;
}

#mpd.stopped {
    border-top: 2px solid #90b1b1;
}

#mpd.paused {
    border-top: 2px solid #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	border-top: 2px solid transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    border-top: 2px solid #cf5700;
}

#privacy-item.audio-in {
    border-top: 2px solid #1ca000;
}

#privacy-item.audio-out {
    border-top: 2px solid #0069d4;
}
